.bsub {
    background-color: red;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
}

.l1 {
    display: flex;
    margin-left: 10px;
}

.l2 {
    display: flex;
}

.i1 {
    float: right;
}

.i3 {
    margin-left: 30px;
}