.table-user {
    background-color: rgb(255, 255, 255);
    width: 100%;
    top: 0%;
    border-collapse: collapse;
    margin-top: 50px;
}

td {
    text-align: left;
    border: 1px solid #ddd;
    padding: 8px;
}

.thead {
    background-color: #333333;
    color: #ddd;
    padding: 8px;
}

tr {
    border: 3px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr-item:hover {
    background-color: #ddd;
}

