ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    padding-left: 100px;
    left: 0;
    width: 100%;
}

li {
    float: left;
    padding: 5;
}

li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .logout-btn{
    cursor: pointer;
}

li a:hover {
    background-color: #111;
}

.search-li {
    margin-top: 11px;
    color: white;
}

.search {
    border-radius: 12px;
}